# Produção
APP_BASE_URL=https://seu-dominio.com/joplin
APP_PORT=22300

# PostgreSQL
DB_CLIENT=pg
POSTGRES_PASSWORD=senha-segura
POSTGRES_DATABASE=joplin
POSTGRES_USER=joplin
POSTGRES_PORT=5432
POSTGRES_HOST=db.suacloud.com